body{
	text-align: center;
	background-color: #fff;
	font-family: "Montserrat-black";
}
.top-container{
	position: relative;
	background-color: #8e9775;
	color: #fff;
}
.first-image{
	width: 25%;
	border-radius: 100%;
	top: 30px;
}
.button{
	margin: 10px;
}
.up-front{
	font-family: "Ubuntu";
	margin-bottom: 25px;
}
.pro-front{
	margin-top: 15px;
}
/* Products */
.middle-container{
	margin: 30px;
}
.ed-image, .td-image, .amb-image, .NC-image{
	width: 20%;
	border-radius: 100%;
}
/* Footer */
.bottom-container{
	margin: 50px;
}
.social-icon{
	margin: 15px;
}
/* .td-image{
	width: 30%;
	border-radius: 100%;
}
.amb-image{
	width: 30%;
	border-radius: 100%;
}
.NC-image{
	width: 30%;
	border-radius: 100%;
} */